{% extends 'admin/master.html' %}

{% block body %}
    <h2>
        Statistics
    </h2>
    <table style="width: 40%; border: 1px solid black; margin-bottom: 3rem;">
        <tr>
            {% for table in context %}
                <th style="border: 1px solid black;">{{ table }}s</th>
            {% endfor %}
        </tr>
        <tr style="text-align: center;">
            {% for table in context.values() %}
                <td style="border: 1px solid black;">{{ table.query.count() }}</td>
            {% endfor %}
        </tr>
    </table>
    <h2>
        Recent activity
    </h2>
    <p>
        Last user registered: {{ context['User'].query.order_by(context['User'].member_since.desc()).first() }}
    </p>
    <p>
        Last post created: {{ context['Post'].query.order_by(context['Post'].timestamp.desc()).first() }}
    </p>
    <p style="margin-bottom: 3rem;">
        Last comment written: {{ context['Comment'].query.order_by(context['Comment'].timestamp.desc()).first() }}
    </p>
    <a href="{{ url_for('main.home') }}">Back to Home Page</a>
{% endblock %}