{% from '_formhelper.html' import render_field %}
{% extends 'master.html' %}

{% block title %}
    Sign In
{% endblock %}

{% block content %}
    <h1 class="page-title">
        Sign In
    </h1>
    <div class="form-wrapper">
        <form method="POST">
            {{ form.hidden_tag() }}
            <hr>
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
            <div class="field">
                <b>Remember me:</b> {{ form.remember }}
            </div>
            <div class="field">
                {{ form.recaptcha }}
            </div>
            <div class="forms-btn">
                {{ form.submit }}
            </div>
            <p>
                New to this site?
            <a href="{{ url_for('users.sign_up') }}">Create an account.</a>
            </p>
            <a href="{{ url_for('users.reset_password_request') }}">Forgot password?</a>
            <hr>
        </form>
    </div>
{% endblock %}